body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

header {
  position: fixed;
  width: 100%;
  background-color: #0077cc;
  color: white;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: #041151;
  font-weight: bold;
  font-size: large;
}

.hero {
  text-align: center;
  padding: 4rem 2rem;
  background: linear-gradient(to right, #0077cc, #00c6ff);
  color: white;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
#container {
  margin-top: 2rem;
  border: 1px solid rgb(232, 23, 23);
}

section {
  max-width: 900px;
  padding: 2rem;
  margin: auto;
  scroll-margin-top: 100px;
}
main {
  max-width: 900px;
  padding: 2rem;
  margin: auto;
  scroll-margin-top: 100px;
}
main:target {
  padding-top: 3rem;

  border-radius: 8px;
  background-color: #00c6ff;
  transition: background-color 0.3s;
}

section:target {
  padding-top: 3rem;
  font-size: large;
  border-radius: 8px;
  background-color: #00c6ff;
  transition: background-color 0.3s;
}
section:target p {
  color: white;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.skills-list li {
  background-color: #eee;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.project {
  border: 1px solid #ddd;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  background-color: white;
}

#projects a:hover {
  color: #333;
  text-decoration: underline;
}

#resume a:hover {
  text-decoration: underline;
  color: #474a4c;
}

#contact {
  font-family: Arial, sans-serif;
  line-height: 1.8;
}

#contact a {
  color: blue;
  text-decoration: none;
}

#contact a:hover {
  text-decoration: underline;
  color: #474a4c;
}

#contact i {
  margin-right: 8px;
  color: #0077b5; /* blue for LinkedIn/email/phone */
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #f1f1f1;
  margin-top: 2rem;
}
footer p {
  margin: 0;
  color: #666;
}

/*  Responsive Design*/
@media (max-width: 768px) {
  header {
    flex-direction: row;
    align-items: flex-start;
    padding: 1rem;
  }

  nav ul {
    flex-direction: row;
    gap: 0.5rem;
    width: 100%;
  }

  nav a {
    padding: 0.5rem 0;
    display: block;
    font-size: 1rem;
  }

  .hero {
    /* padding: 3rem 1rem; */
    font-size: 1rem;
  }

  .skills-list {
    flex-direction: row;
    gap: 1rem;
    align-items: flex-start;
  }

  .project {
    width: 100%;
    box-sizing: border-box;
    padding: 1rem;
  }

  section,
  main {
    padding: 1.5rem 1rem;
  }

  #contact p,
  #contact a {
    font-size: 1rem;
  }

  footer {
    font-size: 0.9rem;
    padding: 0.5rem;
  }
}
